<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('alipayConfig列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>商户appid：</label>
                                <input type="text" name="APPID"/>
                            </li>
                            <li>
                                <label>验证方式：</label>
                                <input type="text" name="keyOrCert"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:alipayConfig:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:alipayConfig:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:alipayConfig:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:alipayConfig:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
            <div class="imgcontainer">

            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:alipayConfig:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:alipayConfig:remove')}]];
        var getQRCodeFlag = [[${@permission.hasPermi('system:alipayConfig:getQRCode')}]];
        var prefix = ctx + "system/alipayConfig";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                getQRCodeUrl: prefix + "/createCommonQRCode/",
                modalName: "alipayConfig",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'appid',
                    title: '商户appid'
                },
                {
                    field: 'rsaPrivateKey',
                    title: '应用私钥',
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'notifyUrl',
                    title: '异步通知地址'
                },
                {
                    field: 'returnUrl',
                    title: '同步跳转地址'
                },
                {
                    field: 'url',
                    title: '请求网关地址'
                },

                {
                    field: 'alipayPrivateKey',
                    title: '支付宝私钥',
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'alipayPublicKey',
                    title: '支付宝公钥',
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'signtype',
                    title: 'RSA2'
                },
                {
                    field: 'keyOrCert',
                    title: '1证书0秘钥'
                },
                {
                    field: 'weightStart',
                    title: '权重开始'
                },
                {
                    field: 'weightEnd',
                    title: '权重结束'
                },
                {
                    field: 'alipayStatus',
                    title: '状态'
                },
                {
                    field: 'appCertPath',
                    title: '应用公钥证书路径'
                },
                {
                    field: 'alipayCertPath',
                    title: '支付宝公钥证书文件路径'
                },
                {
                    field: 'alipayRootCertPath',
                    title: '支付宝CA根证书文件路径'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        actions.push('<a class="btn btn-danger btn-xs ' + getQRCodeFlag + '" href="javascript:void(0)" onclick="getQRCode(\'' + row.id + '\')">下载二维码</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function getQRCode(id) {
            table.set();
            var url = table.options.getQRCodeUrl+id;
            $.ajax({
                url: url, // 替换为你的图片URL
                type: 'GET',
                xhrFields:{
                    responseType: 'blob'
                },
                success: function(data) {
                    var blobUrl = window.URL.createObjectURL(data);
                    // 创建一个临时的a标签用于下载
                    var downloadLink = document.createElement('a');
                    downloadLink.href = blobUrl;
                    downloadLink.download = 'qrCode.jpg'; // 指定下载文件名

                    // 触发a标签的点击事件
                    document.body.appendChild(downloadLink);
                    downloadLink.click();

                    // 清理临时的URL和下载链接
                    document.body.removeChild(downloadLink);
                    window.URL.revokeObjectURL(blobUrl);
                }
            });

            // $.ajax({
            //     url: url, // 替换为你的图片URL
            //     type: 'GET',
            //     xhrFields:{
            //         responseType: 'blob'
            //     },
            //     success: function(data) {
            //        const qrUrl = window.URL.createObjectURL(data);
            //        const a = document.createElement('a');
            //        a.download = 'QrCode.jpg';
            //        document.body.appendChild(a);
            //        a.click();
            //        a.remove();
            //        window.URL.revokeObjectURL(qrUrl);
            //     },
            //     error: function (xhr,status,error) {
            //         console.error("下载失败",error)
            //     }
            // });

            // var xhr = new XMLHttpRequest();
            // xhr.open("get", url, true);
            // xhr.responseType = "blob";
            // xhr.onload = function() {
            //     if (this.status == 200) {
            //         var blob = this.response;
            //         var img = document.createElement("img");
            //         img.onload = function(e) {
            //             window.URL.revokeObjectURL(img.src);
            //         };
            //         img.src = window.URL.createObjectURL(blob);
            //         $("#imgcontainer").html(img);
            //     }
            // }
            // xhr.send();
        }


    </script>
</body>
</html>
